<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true"
    cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="default">
            <file>tests/ArrayUtilsTest.php</file>
            <file>tests/ColorUtilsTest.php</file>
            <file>tests/FileSystemUtilsTest.php</file>
            <file>tests/GeneratorUtilsTest.php</file>
            <file>tests/StringUtilsTest.php</file>
        </testsuite>
    </testsuites>
    <coverage />
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>